@use '../../styles/global.scss' as *;

#player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 660px;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;

  .video-section {
    padding: 10px 0px;
    @extend .flex-center;
  }
  #view-secondary-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10000;
    @extend .flex-center;
  }
  .list-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
