@use '../../styles/variables.scss' as *;

.connect {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 4px 12px;
  margin-right: 12px;
  color: $sp-text-primary;
  font-size: 16px;
  border-radius: 12px;

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}