// colors
$sp-bg-primary-100: #1b0900;
$sp-bg-primary-75: #212121;
$sp-bg-primary-50: #282828;
$sp-text-orange: #ff7900;

// constants
$sp-sidebar-width: 72px;
$sp-header-height: 56px;
$sp-input-height: 37px;

// fonts
$sp-text-primary: #f1f1f1;
$sp-text-primary-inverse: #0f0f0f;